
Screen/.vs/Screen/v14/.suo
Screen/Screen.VC.db
Screen/Screen.VC.VC.opendb
Screen/Screen/x64/Debug/Screen.Build.CppClean.log
Screen/Screen/x64/Debug/Screen.log
Screen/Screen/x64/Debug/Screen.tlog/CL.command.1.tlog
Screen/Screen/x64/Debug/Screen.tlog/CL.read.1.tlog
Screen/Screen/x64/Debug/Screen.tlog/CL.write.1.tlog
Screen/Screen/x64/Debug/Screen.tlog/Screen.lastbuildstate
Screen/Screen/x64/Debug/Screen.tlog/unsuccessfulbuild
Screen/Screen/x64/Debug/vc140.pdb
Screen/Screen/x64/Debug/vc140.idb
*.obj
*.tlog
*.ilk
*.pdb
*.exe
